body{
    background: #608CEE;
}

    .navbar navbar-expand-lg 
{
    width:100px;
    height:70px;
    
}

.card
{
    margin-top: 95px;
   
}

.simple-table
{
    margin-top:-70px;
}

.chart
{
    margin-top:-70px;
}



